link(rel="icon" type="image/png" href=`${ogBaseUrl}/img/favicon.png`)/
link(rel="mask-icon" type="image/svg+xml" href=`${ogBaseUrl}/img/maskicon.svg` color=`${primaryColor}`)/
link(rel="apple-touch-icon" size="180x180" href=`${ogBaseUrl}/img/banner_180_180.png`)/
meta(property="og:url" content=`${ogBaseUrl + ogUrl}`)/
meta(property="og:title" content=`${ogTitle}`)/
meta(property="og:description" content=`${ogDescription}`)/
meta(property="og:image" content=`${ogBaseUrl + ogImage}`)/
meta(property="og:type" content="website")/
meta(property="og:locale" content="en_US")/
meta(name="msapplication-square70x70logo" content=`${ogBaseUrl}/img/banner_70_70.png`)/
meta(name="msapplication-square150x150logo" content=`${ogBaseUrl}/img/banner_150_150.png`)/
meta(name="msapplication-square310x310logo" content=`${ogBaseUrl}/img/banner_310_310.png`)/
meta(name="msapplication-wide310x150logo" content=`${ogBaseUrl}/img/banner_310_150.png`)/
meta(name="msapplication-TileColor" content=`${ogColor}`)/
