extends /layout.pug
//- block header
//-   - page = "hom"

block content
  #banner-wrapper 
    #banner.box.container 
      .row
        .col-7.col-12-medium 
          h1.company=company
          p Experience Luxury on Wheels with us!
        .col-5.col-12-medium
          ul
            li
              a.button.large.icon.solid.brands.fa-whatsapp(href="#" data-a=dataA data-b=dataB data-c=dataC data-d=dataD onclick="window.location.href = 'https://wa.me/' + this.dataset.a + this.dataset.b + this.dataset.c + this.dataset.d; return false;") Contact us
              a(href="/rental").button.alt.large.icon.solid.fa-car-side Rental